Source: sidedoor
Section: net
Priority: optional
Maintainer: Dara Adib <daradib@ocf.berkeley.edu>
Build-Depends: debhelper (>= 9), dh-systemd | debhelper (>= 9.20160709)
Standards-Version: 3.9.8
Homepage: https://github.com/daradib/sidedoor
Vcs-Git: https://github.com/daradib/sidedoor.git
Vcs-Browser: https://github.com/daradib/sidedoor

Package: sidedoor
Architecture: all
Depends: adduser, openssh-client, ${misc:Depends}
Recommends: openssh-server
Suggests: sidedoor-sudo
Description: SSH connection daemon
 sidedoor maintains an SSH connection or tunnel.
 .
 Example uses: control a device by forwarding the SSH port,
 access a web application by forwarding the web server port,
 and stay connected to office network services.
 .
 To use, set up SSH keys to access the remote server.

Package: sidedoor-sudo
Architecture: all
Depends: sidedoor, ${misc:Depends}
Description: SSH connection daemon - sudoers entry
 sidedoor maintains an SSH connection or tunnel.
 .
 This package contains a sudoers entry to grant the sidedoor user
 full root access.
