Source: sidedoor
Section: net
Priority: optional
Maintainer: Dara Adib <daradib@ocf.berkeley.edu>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/daradib/sidedoor
Vcs-Git: https://github.com/daradib/sidedoor.git
Vcs-Browser: https://github.com/daradib/sidedoor

Package: sidedoor
Architecture: all
Depends: ${misc:Depends}, adduser, systemd | upstart
Recommends: openssh-server
Suggests: sidedoor-sudo
Description: SSH connection daemon
 sidedoor maintains an SSH connection or tunnel.
 .
 Example uses: remotely control a device by forwarding
 the local SSH port and remotely access a web application by
 forwarding the local web server port.
 .
 To use, set up SSH keys to access the remote server.

Package: sidedoor-sudo
Architecture: all
Depends: ${misc:Depends}, sidedoor
Description: SSH tunnel daemon - sudoers entry
 sidedoor maintains an SSH connection or tunnel.
 .
 This package contains a sudoers entry to grant the sidedoor user
 full root access.
