[Unit]
Description=SSH connection daemon
Documentation=man:sidedoor(1)
After=local-fs.target network.target network-online.target
Wants=network-online.target

[Service]
User=sidedoor
EnvironmentFile=-/etc/default/sidedoor
ExecStart=/usr/bin/sidedoor $OPTIONS $REMOTE_SERVER
Restart=on-failure

[Install]
WantedBy=multi-user.target
