[Unit]
Description=SSH connection daemon
After=local-fs.target network.target

[Service]
User=sidedoor
EnvironmentFile=-/etc/default/sidedoor
ExecStart=/usr/bin/sidedoor $OPTIONS $REMOTE_SERVER
Restart=on-failure

[Install]
WantedBy=multi-user.target
